.campo {
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 10px;
    padding: 5px;
    width: 80%;
}

.botao {
    border-radius: 5px;
    margin: 10px;
    padding: 7px;
    background-color: #14273e;
    border-width: 1px;
    border-color: gray;
    width: 80%;
    font-size: 1.2rem;
    color: #fff;
}

.mensagem {
    display: flex;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 10px;
    padding: 5px;
    width: 80%;
    height: 30px;
    align-items: center;
    justify-content: center;
}