.conteudo {
    border-radius: 10px;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 10px;
    padding: 5px;
    width: 100%;
    align-items: center;
}
.campo:hover{
    background-color:rgb(255,0,0, 0.85);
}

.botao {
    border-radius: 5px;
    margin: 10px;
    padding: 7px;
    background-color: #d80000;
    border-width: 1px;
    border-color: black;
    width: 50%;
    box-shadow: 0px 2px 15px black;
    font-size: 1.2rem;
    color: #fff;
}
.botao:hover{
        transition: 0.2s;
        box-shadow: 0px 2px 20px red;
        padding: 7px;
}

.mensagem {
    display: flex;
    background-color: lightgray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 10px;
    padding: 5px;
    width: 80%;
    height: 30px;
    align-items: center;
    justify-content: center;
}
