.Content {
    display: flex;
    flex-grow: 1;
    background-color: black;
    color: white;
    padding: 20px;
}

.Content > * {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.titulo {
    background-color: lightgray;
    border-bottom: 5px solid black;
    align-items: right;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    color: #14273e;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}

.titulo h1, h2 {
    margin: 0;
}

.conteudo {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}

.Conteudo p {
    font-family: Arial;
    text-align: justify;
    font-size: 25px;
}

.Soul p {
    font-family: Arial;
    text-align: justify;
    font-size: 25px;
}